<%= form_for(@sound_clip) do |f| %>
  <% if @sound_clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound_clip.errors.count, "error") %> prohibited this sound_clip from being saved:</h2>

      <ul>
      <% @sound_clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descriptions %><br />
    <%= f.text_field :descriptions %>
  </div>
  <div class="field">
    <%= f.label :sound_board_id %><br />
    <%= f.number_field :sound_board_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
